* {
  box-sizing: border-box;
  direction: rtl;
  font-family: "Assistant", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 5rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.logo {
  height: 100%;
  width: min-content;
  float: right;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.5rem;
  height: 30px;
  background-color: transparent;
  border: none;
  margin-top: 30px;
  margin-left: 10px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: blue;
  display: block;
  transition: all 0.4s ease-in-out;
  position: absolute;
  border-radius: 30px;
}

.bar1 {
  top: 0;
}

.bar2 {
  top: 13.5px;
}

.bar3 {
  bottom: 0;
}

.hamburger .bar1,
.hamburger .bar3 {
  transform-origin: 5%;
}

.checkbox:checked + label .hamburger .bar1 {
  transform: rotate(45deg);
  height: 3px;
  width: 42px;
}
.checkbox:checked + label .hamburger .bar2 {
  transform: translateX(50px);
  height: 3px;
  background-color: transparent;
}
.checkbox:checked + label .hamburger .bar3 {
  transform: rotate(-45deg);
  height: 3px;
  width: 42px;
}

.navigation-container {
  width: 100%;
  height: 100%;
}

.navigation-container a {
  text-decoration: none;
  display: inline-block;
}

.inner-nav-container {
  display: none;
}

.careers-dropdown {
  display: none;
}

.show-inner-nav-container {
  display: flex;
  position: absolute;
  right: 5px;
  top: 20px;
  white-space: nowrap;
}
.show-inner-nav-container ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  list-style: none;
}
.show-inner-nav-container ul li {
  height: 100%;
  padding: 5px;
}
.show-inner-nav-container ul li a {
  color: black;
  font-size: 20px;
}
.show-inner-nav-container ul .careers {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  font-size: 20px;
}

.show-careers-dropdown {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
}
.show-careers-dropdown .careers-dropdown {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: -80px;
  margin-top: 20px;
}
.show-careers-dropdown .careers-dropdown a {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border-bottom: 1px dashed #aad6be;
}

@media (min-width: 925px) {
  .hamburger {
    display: none;
  }
  .show-inner-nav-container {
    margin: 0;
  }
  .show-inner-nav-container ul {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
  .show-inner-nav-container ul a {
    font-size: 16px;
  }
  .navigation-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .navigation-container .inner-nav-container {
    display: flex;
    position: relative;
  }
  .navigation-container .inner-nav-container ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style: none;
  }
  .navigation-container .inner-nav-container ul li {
    height: 100%;
    padding: 5px;
  }
  .navigation-container .inner-nav-container ul li a {
    color: black;
    font-size: 16px;
  }
  .navigation-container .inner-nav-container ul li a:hover,
.navigation-container .inner-nav-container ul li .careers:hover {
    color: #213a80;
    font-weight: bold;
    transition: color font-weight 0.5s ease-out;
  }
  .navigation-container .inner-nav-container ul li a::after {
    content: "|";
    font-size: 1.5rem;
    margin: 5%;
    color: black;
  }
  .navigation-container .inner-nav-container ul li .careers {
    font-size: 16px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
  }
  .navigation-container .inner-nav-container ul li .careers::after {
    content: "|";
    font-size: 1.5rem;
    margin: 5%;
    color: black;
  }
  .navigation-container .inner-nav-container ul li .careers:hover .careers-dropdown {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: right;
    text-align: right;
    background-color: #213a80;
    position: absolute;
    bottom: 5px;
    right: 0;
    transform: translateY(100%);
    width: 100%;
    height: 300px;
    z-index: 2;
    margin-top: -60px;
  }
  .navigation-container .inner-nav-container ul li .careers:hover .careers-dropdown a::after {
    content: "";
  }
  .navigation-container .inner-nav-container ul li .careers:hover .careers-dropdown a {
    margin-right: 5px;
  }
  .navigation-container .inner-nav-container ul li .careers:hover .careers-dropdown a span {
    color: white;
  }
  .navigation-container .inner-nav-container ul li .careers:hover .careers-dropdown:hover a span:hover {
    color: #213a80;
    background-color: white;
    font-weight: bold;
    transition: color font-weight 0.5s ease-out;
  }
}
