@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  direction: rtl;
  font-family: "Assistant", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: fit-content;
  position: relative;
  top: 0;
  left: 0;
  background-color: white;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.logo {
  height: 100%;
  width: min-content;
  float: right;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.button {
  position: absolute;
  top: 10px;
  left: 20px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.5rem;
  height: 30px;
  background-color: transparent;
  border: none;
  margin-top: 30px;
  margin-left: 10px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: blue;
  display: block;
  transition: all 0.4s ease-in-out;
  position: absolute;
  border-radius: 30px;
}

.bar1 {
  top: 0;
}

.bar2 {
  top: 13.5px;
}

.bar3 {
  bottom: 0;
}

.hamburger .bar1,
.hamburger .bar3 {
  transform-origin: 5%;
}

.checkbox:checked + label .hamburger .bar1 {
  transform: rotate(45deg);
  height: 3px;
  width: 42px;
}
.checkbox:checked + label .hamburger .bar2 {
  transform: translateX(50px);
  height: 3px;
  background-color: transparent;
}
.checkbox:checked + label .hamburger .bar3 {
  transform: rotate(-45deg);
  height: 3px;
  width: 42px;
}

.navigation-container {
  width: 100%;
  height: 100%;
}

.navigation-container a {
  text-decoration: none;
  display: inline-block;
}

.inner-nav-container {
  display: none;
}

.careers-dropdown {
  display: none;
}

.careers-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  font-size: 20px;
}

.show-inner-nav-container {
  display: flex;
  position: relative;
  flex-direction: column;
  white-space: nowrap;
}
.show-inner-nav-container ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  list-style: none;
}
.show-inner-nav-container ul li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}
.show-inner-nav-container ul li a {
  color: black;
  font-size: 19px;
}

.show-careers-dropdown {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  flex-direction: column;
  align-items: start;
}
.show-careers-dropdown a {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border-bottom: 1px dashed #aad6be;
}

.main {
  margin-top: 0px;
}
.main .blueBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  white-space: nowrap;
  background-color: #213b7f;
  color: white;
  font-weight: 600;
}
.main .blueBar .didntWork {
  font-size: 10vw;
  line-height: 1;
}
.main .blueBar .didntPay {
  font-weight: 800;
  font-size: 15vw;
}
.main .thousand-banner {
  background-color: #eff6df;
  text-align: center;
}
.main .fields-of-expertise {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1rem;
}
.main .fields-of-expertise .headline {
  text-align: center;
}
.main .fields-of-expertise .expertise-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  animation: show 0.8s;
}
.main .fields-of-expertise .expertise-container .experty-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  border: 1px solid hsla(0deg, 0%, 80%, 0.5);
}
.main .fields-of-expertise .expertise-container .experty-container .img-logo img {
  width: 50%;
  margin: 5px;
}
.main .fields-of-expertise .expertise-container .experty-container .experty-separetor {
  width: 4px;
  height: 30px;
  border-radius: 15px;
  margin-left: 5px;
}
.main .fields-of-expertise .expertise-container .experty-container .name {
  word-wrap: break-word;
  width: 82%;
}
.main .fields-of-expertise .expertise-container .experty-container #syber {
  background: #4ac694;
}
.main .fields-of-expertise .expertise-container .experty-container #system-administration {
  background: #a3b6cc;
}
.main .fields-of-expertise .expertise-container .experty-container #marketing {
  background: #3a5998;
}
.main .fields-of-expertise .expertise-container .experty-container #qa {
  background: #316cff;
}
.main .fields-of-expertise .expertise-container .experty-container #ui-ux {
  background: #f9cf58;
}
.main .fields-of-expertise .expertise-container .experty-container #fullstack {
  background: #9da6e9;
}
.main .fields-of-expertise .expertise-container .experty-container #mobile {
  background: #8e8e93;
}
.main .fields-of-expertise .expertise-container .experty-container #embedded {
  background: #475f8e;
}
.main .fields-of-expertise .expertise-container .experty-container:hover {
  opacity: 0.7;
}
.main .hear-more {
  display: none;
}

@media (min-width: 450px) {
  .main .blueBar .didntWork {
    font-size: 50px;
  }
  .main .blueBar .didntPay {
    font-size: 66px;
  }
  .main .fields-of-expertise {
    display: flex;
  }
  .main .fields-of-expertise .expertise-container {
    flex-direction: row;
    justify-content: center;
    animation: show 0.8s;
  }
  .main .fields-of-expertise .expertise-container .experty-container {
    min-height: 153px;
    width: 128px;
    flex-flow: column;
    align-items: center;
    line-height: 0.9rem;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .main .fields-of-expertise .expertise-container .experty-container .img-logo img {
    width: max-content;
    height: max-content;
  }
  .main .fields-of-expertise .expertise-container .experty-container .experty-separetor {
    width: 40px;
    height: 4px;
  }
  .main .fields-of-expertise .expertise-container .experty-container div > i {
    display: none;
  }
  .main .fields-of-expertise .expertise-container .experty-container .name {
    text-align: center;
  }
}
@media (min-width: 925px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
  }
  .header .header-container {
    flex-direction: row;
  }
  .header .hamburger {
    display: none;
  }
  .header .show-inner-nav-container {
    margin: 0;
  }
  .header .show-inner-nav-container ul {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
  .header .show-inner-nav-container ul a {
    font-size: 16px;
  }
  .header .careers-dropdown {
    display: none;
  }
  .header .navigation-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .header .navigation-container .inner-nav-container {
    display: flex;
    position: relative;
  }
  .header .navigation-container .inner-nav-container ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style: none;
  }
  .header .navigation-container .inner-nav-container ul li {
    height: 100%;
    padding: 5px;
  }
  .header .navigation-container .inner-nav-container ul li a {
    color: black;
    font-size: 16px;
  }
  .header .navigation-container .inner-nav-container ul li a:hover,
.header .navigation-container .inner-nav-container ul li .careers:hover {
    color: #213a80;
    font-weight: bold;
    transition: color font-weight 0.5s ease-out;
  }
  .header .navigation-container .inner-nav-container ul li a::after {
    content: "|";
    font-size: 1.5rem;
    margin: 5%;
    color: black;
  }
  .header .navigation-container .inner-nav-container ul li .careers {
    font-size: 16px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
  }
  .header .navigation-container .inner-nav-container ul li .careers a::after {
    content: "";
  }
  .header .navigation-container .inner-nav-container ul li .careers::after {
    content: "|";
    font-size: 1.5rem;
    margin: 5%;
    color: black;
  }
  .header .navigation-container .inner-nav-container ul #li-careers:hover .careers-dropdown {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: right;
    text-align: right;
    background-color: #213a80;
    position: absolute;
    bottom: 5px;
    right: 0;
    transform: translateY(100%);
    width: 100%;
    height: 300px;
    z-index: 2;
    margin-top: -60px;
  }
  .header .navigation-container .inner-nav-container ul #li-careers:hover .careers-dropdown a::after {
    content: "";
  }
  .header .navigation-container .inner-nav-container ul #li-careers:hover .careers-dropdown a {
    margin-right: 5px;
  }
  .header .navigation-container .inner-nav-container ul #li-careers:hover .careers-dropdown a span {
    color: white;
  }
  .header .navigation-container .inner-nav-container ul #li-careers:hover .careers-dropdown:hover a span:hover {
    color: #213a80;
    background-color: white;
    font-weight: bold;
    transition: color font-weight 0.5s ease-out;
  }
  .main {
    margin-top: 100px;
  }
  .main .blueBar {
    line-height: 1.1;
  }
  .main .blueBar .didntWork {
    font-size: 90px;
  }
  .main .blueBar .didntPay {
    font-size: 120px;
  }
  .main .main-section {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
  }
  .main .main-section .fields-of-expertise {
    width: 650px;
  }
  .main .main-section .hear-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #154b9c;
    color: white;
    margin-top: 100px;
    position: relative;
    left: 1vw;
  }
  .main .main-section .hear-more h2 {
    direction: ltr;
    text-align: end;
    margin: 12px;
  }
  .main .main-section .hear-more .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main .main-section .hear-more .input-container .costum-input {
    display: flex;
    align-items: center;
    background: white;
    width: 250px;
    height: 60px;
    margin: 12px;
  }
  .main .main-section .hear-more .input-container .costum-input label {
    width: 25%;
    margin-left: 10px;
    font-size: 0.9rem;
    white-space: nowrap;
    padding-right: 5px;
    color: #373737;
    font-weight: 700;
  }
  .main .main-section .hear-more .input-container .costum-input .separetor {
    position: relative;
    float: left;
    background: #213b7f;
    width: 3px;
    height: 1.3rem;
    border-radius: 20px;
    flex-shrink: 0;
  }
  .main .main-section .hear-more .input-container .costum-input input {
    width: 70%;
    max-width: 250px;
    height: 100%;
    border: none;
  }
  .main .main-section .hear-more .agree-checkbox {
    margin-top: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    direction: ltr;
  }
  .main .main-section .hear-more .agree-checkbox .agree-explain {
    margin-right: 2%;
    direction: rtl;
    font-size: 13px;
    font-weight: 700;
  }
  .main .main-section .hear-more .privacy-policy {
    margin-top: 0.5rem;
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
  }
  .main .main-section .hear-more .sumbit-contact {
    padding: 0;
    align-self: center;
    height: 60px;
    width: 256px;
    margin-top: 10px;
    background: #fff6df;
    border: none;
    margin-bottom: 10%;
  }
  .main .main-section .hear-more .sumbit-contact .sumbit-contact-inner-box {
    display: flex;
    border: 2px solid #00b8d4;
    justify-content: center;
    align-items: center;
    height: 96%;
    width: 99%;
    margin: 1px;
    color: #000;
    font-size: 2.3rem;
    font-weight: 600;
    direction: ltr;
  }
}
